<h2>Champ Texte</h2>
<input v-model="text">
<p>{{ text }}</p>

<h2>Case à cocher</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">Cochée : {{ checked }}</label>

<!--
  plusieurs cases à cocher peuvent être liées
  au même v-model
-->
<h2>Cases à cocher multiples</h2>
<input type="checkbox" id="jacques" value="Jacques" v-model="checkedNames">
<label for="jacques">Jacques</label>
<input type="checkbox" id="jean" value="Jean" v-model="checkedNames">
<label for="jean">Jean</label>
<input type="checkbox" id="michel" value="Michel" v-model="checkedNames">
<label for="michel">Michel</label>
<p>Noms cochés : {{ checkedNames }}</p>

<h2>Radio</h2>
<input type="radio" id="un" value="Un" v-model="picked">
<label for="un">Un</label>
<br>
<input type="radio" id="deux" value="Deux" v-model="picked">
<label for="deux">Deux</label>
<br>
<p>Choisi : {{ picked }}</p>

<h2>Sélection</h2>
<select v-model="selected">
  <option disabled value="">Sélectionnez-en un</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Sélectionné : {{ selected }}</p>

<h2>Sélection multiple</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Sélectionné : {{ multiSelected }}</p>
